*{
	font-size: 25px;
	background-color: #B3C8CF;
	color: white;
	margin:4px;
}

h1{
	display: inline-block;
	position: relative;
	left:580px;
	border:5px solid white;
	color: black;
	background-color: white;
	font-size: 50px;
}

h2{
	display: inline-block;
	position: relative;
	top: 60px;
	left:640px;
	border:3px solid white;
	color: black;
	background-color: white;
	font-size: 34px;
}

h3
{
	background-color: #E5DDC5;
	height: 600px;
	margin: 0px;
}

h5{
	position: relative;
	bottom: 10px;
	left:680px;
	border:3px solid white;
	color: black;
	font-size: 34px;
	width: 115px;	
}

h6{
	position: relative;
	top: 25px;
	left:480px;
	border:3px solid white;
	color: black;
	width: 500px;
}

a{
	text-decoration: none;
}

div{
	position: relative;
	top: 80px;
	left:300px;
	border:3px solid white;
	width: 900px;	
	text-align: center;

}

