body{
	background-color: black;
}

a{  
	border:3px solid whitesmoke;
	background-color: whitesmoke;
	text-decoration:none;
	font-size: 50px;
}

h3{	
 	position: relative;
    top:90px;
	left:320px;
}

#one{
	width:100%;
	position:relative;
	top:190px;
	left:160px;
}


#two{
	display:inline-block;
	width:56%;
}


#three{
	color: white;
	font-size: 120px;
	display: block;
	animation-name: rotateX;
	animation-duration: 5s;
}

 #four{	
 	display:inline-block;
   animation-name: rotateY;
	animation-duration: 5s;
	animation-iteration-count: infinite;
   width: 37% }

 #five{
 	animation-name: Size;
 	animation-duration: 2s;
 }

 @keyframes rotateX{
 	from{ transform:scaleX(0); }
 	to{transform:scaleX(1);}
 }

 @keyframes rotateY{
 	from{ transform:scaleY(0); }
 	to{transform:scaleY(1);}
 }

@keyframes Size{
 	from{ font-size: 2px; }
 	to {font-size:50px;} }